* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle, #c06782, rgb(97, 38, 65));
    color: floralwhite;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 20px;
}

#letters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    background: transparent;
    border: 1px solid floralwhite;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(97, 38, 65);
    border: 1px solid rgb(97, 38, 65);
    
}

#word {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 2rem;
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#again {
    width: 100px;
    height: 50px;
    padding: 15px 10px;
}

.game-status {
    font-size: 2rem;
    margin-bottom: 20px;
}
